/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* .custom-width {
  width: 200px;
}

.custom-height {
  height: 200px;
} */


/* 
.custom-display{
    height: 100vh;
    width : 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
  
  
  .spinner-border-custom{
    color: rgba(39, 212, 232, 0.829);
    height: 200px;
    width: 200px;
    border-width: 15px;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .custom-loading-text{
    margin-top: 10px;
    font-size: larger;
    font-weight: bolder;
    font-family: cursive;
    color:white
    
  } */

  body{
    margin-top:20px;
}
.gray-bg{
    background: rgb(243, 242, 242);    
}
.pageloader {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  opacity:1;
  overflow: hidden;
  display: table;
}
.loader {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.loader span{
  color: #131313;
  font-weight: 500;
  font-size: 60px;
  display: block;
  margin-top: 40px;
}
.sp-hydrogen {
  width: 96px;
  height: 96px;
  clear: both;
  margin: 60px auto;
  position: relative;
  border: 6px #bc1a1a solid;
  border-radius: 50%;
  -webkit-animation: spHydro 0.7s infinite linear;
  animation: spHydro 1.5s infinite linear;
}
.sp-hydrogen:before, .sp-hydrogen:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #0b34a4;
  border-radius: 50%;
}
.sp-hydrogen:before {
  top: calc( 50% - 15px );
  left: calc( 50% - 15px );
}
.sp-hydrogen:after {
  top: -3px;
  left: -3px;
}

@-webkit-keyframes spHydro {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spHydro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



  .animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  
  